/*styling.css*/
/*add font family, background image*/

body {
  color: #5bc0de;
  font-family: "Poppins", sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 3.5em;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

/*map*/
#googleMap {
  width: 34rem;
  height: 35rem;
  margin: 10px auto;
}

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}


#googleMapContainer {
  position: relative;
}

#googleMap{
  width: 100%;
  height: 400px;
}

#openMapBtn {
  position: absolute;
  right: 0;
  bottom: -1.8rem;
  color: #2323b1;
  background-color: white;
  border: unset;
  width: auto;
  font-size: x-small;
}
.list-group-item {
  border: unset;
}

.myRouteSubmit {text-align: -webkit-match-parent;}

@media (max-width: 680px) {
  .col-4 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
}

